.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}

.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #7d4c3a;
    box-shadow: 0 0 0 3px #7d4c3a;
}
@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}
.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

.logout-button {
    background-color: transparent; 
    color: #7d4c3a;                 
    font-weight: 500;            
    padding: 0.2rem 1rem;         
    border-radius: 2rem;      
    border: 2px solid #7d4c3a;    
    transition: background-color 0.3s, border-color 0.3s; 
}

.logout-button:hover {
    background-color: #7d4c3a; 
    color: white;  
}

.custom-button {
    background-color: #7d4c3a; /* Warna dasar */
    color: white; /* Warna teks */
    transition: background-color 0.3s ease-in-out; /* Transisi warna latar belakang */
}

.custom-button:hover {
    background-color: #6b3d30; /* Warna saat di-hover */
}


.custom-bg {
    background-color: #7d4c3a;
}

.custom-border {
    border-color: #6b3d30; 
}

.custom-link, .custom-link:hover {
    color: #7d4c3a; 
    text-decoration: none; 
}

.custom-link:hover {
    color: #6b3d30; 
}





