{% extends 'base.html' %}
{% block content %}

<style>
    body {
        background-color: #f8f5f0; 
        font-family: 'Helvetica', sans-serif;
    }

    h1 {
        font-size: 36px;
        color: #5a4630;
        text-align: center;
        font-weight: bold;
    }

    h5 {
        font-size: 18px;
        color: #5a4630;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        color: #5a4630;
        text-align: center;
    }

    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: left;
        color: #5a4630;
    }

    th {
        background-color: #dbc3a7; 
        font-weight: bold;
        text-transform: uppercase;
    }

    td {
        background-color: #f8f5f0;
        border-bottom: 1px solid #dbc3a7;
    }

    button {
        background-color: #5a4630;
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    button:hover {
        background-color: #4b3c28; 
    }

    .center {
        text-align: center;
        margin-top: 30px;
    }
</style>

<h1>Glowmoure</h1>
<h5>Glowmoure.id offers aesthetic scented candles with delightful fragrances and cute acrylic nightlights that add a cozy glow to any space. Bring charm and warmth to your home with our beautifully designed products!</h5>

<h5>Name: </h5>
<p>{{ name }}</p> 
<h5>NPM: </h5>
<p>{{ npm }}</p>

{% if not product_entries %}
<p>Belum ada data product pada glowmoure.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Category</th>
    <th>Stock</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.category}}</td>
    <td>{{product_entry.stock}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}